@media (min-width: 768px) {
    body {
        background: url('../images/bg-desktop.svg') center no-repeat var(--primary-violet);
        background-size: cover;
    }

    .cabecalho .logo img {
       width: 190px;
    }
    
    .conteudo-principal {
        flex-direction: row;
    }

    .conteudo-principal .imagem-modelo {
        width: 60%;
        margin-bottom: 5rem;
    }   

    .conteudo-principal {
        gap: 3rem;
    }

    .rodape .sociais {
        justify-content: flex-end;
        padding: 0;
        margin: 2rem 0;
        }
    }

@media (min-width: 1440px) {
    body {
        margin: 0 7rem;
    }

    .conteudo-principal {
        gap: 7rem;
    }

    .conteudo-principal .imagem-modelo {
        width: 100%;
    }  

    .conteudo-principal .sobre {
        align-items: flex-start;
        margin: 2rem 2rem 0 0;
    }

    .conteudo-principal .sobre .titulo {
        text-align: start;
        font-size: 3.5rem;
        padding-right: 3rem;
    }

    .conteudo-principal .sobre .texto {
        text-align: start; 
    }
}